.board-section {
    height: 600px;
    width: 800px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: red;
}
/* 
.game {
    background-color: blue;
} */
.game-info {
    background-color: azure;
    width: 25%;
    margin: 0 auto;
    margin-top: 10px;

}
h1 {
    font-size: 50px;
}
.title {
    color: aliceblue;
    /* font-size: larger; */
}